extends ../../views/layout    
block content
  include ../partials/header
  include ../partials/navbar
    .page-wrapper
        .container-fluid
          .row
            .col-lg-12
                script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
                .chart-container
                canvas#myChart       
                script.
                  var ctx = document.getElementById("myChart").getContext('2d');
                  ctx.canvas.parentNode.style.width = '50%'
                  var idata = JSON.parse('!{datai}');    
                  var ilabel = JSON.parse('!{labeli}'); 
                  var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                    labels: ilabel,
                    datasets: [{
                    label: 'Pie Dataset',
                    data: idata,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(51, 204, 51,0.2)',
                    'rgb(191, 191, 63,0.2)',
                    'rgb(63, 127, 191 ,0.2)',
                    'rgb(63, 191, 191,0.2)',
                    'rgb(191, 63, 127,0.2)',
                    'rgb(46, 91, 68,0.2)'
                    ],
                    borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(51, 204, 51,1)',
                    'rgb(191, 191, 63,1)',
                    'rgb(63, 127, 191,1)',
                    'rgb(63, 191, 191,1)',
                    'rgb(191, 63, 127,1)',
                    'rgb(46, 91, 68,1)'
                    ],
                    borderWidth: 1
                    }]
                    },
                    options: {
                    scales: {
                    yAxes: [{
                    ticks: {
                    beginAtZero:true
                    }
                    }]
                    }
                    }
                    });  