extends layout

block content
  h1= title
  p Welcome to #{title} using dynamic data from nodejs/mongodb

            ul
              li
                a(href='/') Home
              li
                a(href='/about') About
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='javascript:void(0)')
                  | My Chart
                span.caret
                .dropdown-content
                  a(href='/barchart') Bar Chart
                  a(href='/linechart') Line Chart
                  a(href='/piechart') Pie Chart
                  a(href='/doughnut') Doughnut Chart